<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Movie Tickets</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <h1>Movies</h1>
    <div id="app">
        <div class="card-deck">
        <div v-for="i in count">


            <div class="card" style="width: 18rem;">
                <img v-bind:src="getImage(i-1)" class="card-img-top" v-bind:alt="arr[i-1].title">
                <div class="card-body">

                    <button v-on:click="incrementTicket(i-1,0)">Adult Ticket</button><button v-on:click="incrementTicket(i-1,1)">Child Ticket</button>
                    <h5 class="card-title"> {{arr[i-1].title}} </h5>
                    <p class="card-text"> {{arr[i-1].overview}} </p>
                </div>
            </div>


        </div>
    </div>
    <div id="allTickets" v-if="number > 0">
            <div class="movieTicket">
                    <h2 class="title">Movie</h2> 
                    <h2 class="ticket_times">Adult Tickets</h2>
                    <h2 class="ticket_times">Children Tickets</h2>
                    <h2 class="sub">Subtotal</h2><div style="display:none;">{{number}}</div> 
                    <h2 class="ticketBnt">Button</h2>
                </div>
    <div v-for="i in count" v-if="varArr[i-1][0] != 0 || varArr[i-1][1] != 0">
            <div class="movieTicket" >
                <h2 class="title">{{arr[i-1].title}}  </h2> 
                <h2 class="ticket_times" v-if="varArr[i-1][0] != 0">{{varArr[i-1][0]}} X ${{adult}}  </h2>
                <button class="decreaseBtn" v-on:click="decrementTicket(i-1,0)" v-if="varArr[i-1][0] != 0">-- </button>
                <h2 class="ticket_times" v-if="varArr[i-1][0] == 0"></h2>
                <h2 class="ticket_times" v-if="varArr[i-1][1] != 0">{{varArr[i-1][1]}} X ${{child}} </h2>
                <button class="decreaseBtn" v-on:click="decrementTicket(i-1,1)" v-if="varArr[i-1][1] != 0">-- </button>
                <h2 class="ticket_times" v-if="varArr[i-1][1] == 0"></h2>
                <h2 class="sub">${{getSubtotal(i-1)}} </h2><div style="display:none;">{{number}}</div>
                <button v-on:click="removeTickets(i-1)" class="ticket_button ticketBnt">Remove</button> 
            </div>


        </div>
        <div>
            <h3>{{totalTicketsA}}</h3>
            <h3>{{totalTicketsC}}</h3>
            <h3>{{totalTickets}}</h3>

        </div>
    </div>


    </div>

        <script src="javascript.js"></script>

</body>

</html>